*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: gray;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

.container{
    width: 90%;
    margin: 0 auto;
}

#wrapper{
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 1000px;
    margin: 100px auto;
}

#wrapper .profiles{
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper .profile{
    width: 50%;
    height: 338px;
    margin: 50px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
}
#wrapper .profile .img{
    width: 40%
}

#wrapper .profile .img img{
    width: 185px;
    height: 187px;
    border-radius: 50%;
    border: 5px solid white;
}

#wrapper .profile .details{
    width: 60%;
    text-align: left;
    padding-left: 50px;
}

#wrapper .profile .details .progress{
    margin-top: 20px;
}

#wrapper .profile .details .tag{
    margin: 10px 0;

}

#wrapper .github{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

#wrapper .github .img{
    width: 40%;

}

#wrapper .github .img img{
    max-width: 100%;
}

#wrapper .github .text{
    width: 60%;

}

#wrapper .github .text a{
    padding: 20px;
    background-color: red;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}


/* footer */
footer{
    background-color: black;
    color: white;
    padding: 20px 0;
}

footer .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .row .box{
    width: 33%;
}

footer .row .box ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    margin: 20px 0;
}


footer .row .box ul li{
    margin-right: 50px;
}

footer .row .box ul li a{
    display: block;
    color: white;
    padding: 5px 8px;
    border-radius: 4px;
    border: 1px solid white;
    transition: 0.5s;
}

footer .row .box ul li a:hover{
    background-color: red;
    border: 1px solid red;
}



footer .row .box .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .row .box .flex .left{
    width: 10%;
}

footer .row .box .flex .right{
    width: 90%;
}


footer .row .box .flex .img{
    width: 40%;
}

footer .row .box .flex .img img{
    width: 72%;
}

footer .row .box .flex .des{
    width: 60%;
}

/* footer end */


/* responsive */
@media screen and (max-width:500px) {
    .container{
        width: 95%;
    }
    h1{
        font-size: 30px;
        text-align: center;
    }

    #wrapper{
        width: 90%;
    }

    #wrapper .profiles{
        display: block;
    }

    #wrapper .profiles .profile{
        width: 90%;
        margin: 20px auto;
        display: block;
        height: auto;
    }

    #wrapper .profiles .profile .img,
    #wrapper .profiles .profile .details{
        width: 100%;
        text-align: center;
    }

    #wrapper .profiles .profile .details{
        padding: 0;
    }


    #wrapper .github{
        display: block;
    }

    #wrapper .github .img,
    #wrapper .github .text{
        width: 100%;
    }

    #wrapper .github .text h1{
        font-size: 25px;
    }

    #wrapper .github .text{
        text-align: center;
    }




    footer .row{
        display: block;
    }

    footer .row .box{
        width: 90%;
        margin: 10px auto;
    }

    footer .row .box .link-text{
        text-align: center;
    }

    footer .row .box ul{
        justify-content: center;
    }

    footer .row .box ul li{
        margin: 0 auto;
    }

}
/* responsive end */