*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}

h1{
    font-size: 60px;
    margin: 20px 0;
}

.title{
    font-size: 30px;
}

.sub-title{
    font-size: 15px;
}

.center{
    text-align: center;
}

.left{
    width: 50%;
}

.right{
    width: 50%;
}


/* header */
header{
    padding: 10px 0;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    width: 30%;
}
header .logo img{
    width: 20%;
}

header nav{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 0 35px;
    color: black;
}
/* header end */



/* banner */
#banner{
    margin-top: 90px;
    background-image: url('https://www.tbsnews.net/sites/default/files/styles/big_2/public/images/2021/06/14/blood_donate.jpg?itok=VZm5p8vE&timestamp=1623642374');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

#banner .blur{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
}
#banner h1{
    color: white;
}
#banner p{
    width: 45%;
    font-size: 20px;
    color: white;
}

#banner a{
    display: inline-block;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    margin: 20px 0;
    border-radius: 20px;
    transition: 0.5s linear;
    font-weight: bold;
}

#banner a:hover{
    background-color: white;
    color: black;
}
/* banner end */


/* about */
#about{
    margin: 30px 0;
}
#about .card-box, #about .description{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 0;
}

#about .card-box .card{
    width: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

#about .card-box .card .card-img img{
    max-width: 100%;
}

#about .card-box .card .card-text{
    padding: 20px;
}

#about .description .left{
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .description .left img{
    width: 50%;
}
/* about end */


/* benefit */
#benefit{
    margin: 30px 0;
    background-color: #ddd;
}

#benefit .list{
    display: flex;
}

#benefit .left ol li{
    margin: 30px 0;
}

#benefit .right{
    display: flex;
    align-items: center;
    justify-content: center;
}

#benefit .right img{
    width: 70%;
}
/* benefit end */


/* members */
#members{
    margin: 30px 0;
}

#members .members-box{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#members .members-box .profile{
    width: 25%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: 0.5s;
}

#members .members-box .profile .pro-avater{
    height: 240px;
    width: 240px;
    border: 5px solid red;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#members .members-box .profile .pro-avater img{
    width: 95%;
}

#members .members-box .profile .pro-name{
    margin-top: 20px;
    font-weight: bolder;
}
#members .members-box .profile .link{
    margin-top: 20px;
}
#members .members-box .profile .link ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#members .members-box .profile .link ul li a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    transition: 0.5s;
}


#members .members-box .profile:hover{
    background-color: rgb(19, 69, 233);
    color: white;
}

#members .members-box .profile .link ul li a:hover{
    background-color: red;
}
/* members end */


/* login , rehgister */
#login{
    width: 350px;
    padding: 20px;
    /* background-color: antiquewhite; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}

#register{
    width: 800px;
    padding: 20px;
    /* background-color: antiquewhite; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}

#register .flex{
    display: flex;
}

#register .flex .left{
    width: 33%;
    margin: 0 20px;
}
#register .flex .middle{
    width: 33%;
    margin: 0 20px;
}
#register .flex .right{
    width: 33%;
    margin: 0 20px;
}

#register input,  #login input{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 18px;
    outline: none;
    font-size: 18px;
}

#login input[type="submit"]{
    width: 100%;
    margin: 20px 0;
    font-weight: bold;
    cursor: pointer;
    background-color: blue;
    color: white;
    outline: none;
    border: 0;
    transition: 0.5s;
}

#login input[type="submit"]:hover{
    background-color: rgb(4, 4, 139);
}

#register input[type="submit"]{
    margin: 20px auto;
    display: block;
    width: 20%;
    font-weight: bold;
    cursor: pointer;
    background-color: blue;
    color: white;
    outline: none;
    border: 0;
    transition: 0.5s;
}

#register input[type="submit"]:hover{
    background-color: rgb(4, 4, 139);
}

#register select{
    width: 100%;
    height: 50px;
    font-size: 18px;
}


.password{
    position: relative;
}

.password i{
    color: black;
    position: absolute;
    top: 35%;
    right: 20px;
    transform: translateY(-35%);
    cursor: pointer;
}
/* login , register end */



/* responsive */
/* responsive end */