*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}

h1{
    font-size: 60px;
    margin: 20px 0;
}

.title{
    font-size: 30px;
}

.sub-title{
    font-size: 15px;
}

.center{
    text-align: center;
}

.left{
    width: 50%;
}

.right{
    width: 50%;
}

.msg{
    width: 100%;
    background-color: #F5C2C7;
    color: #842029;
    padding: 10px;
    border-radius: 8px;
}


/* header */
header{
    padding: 10px 0;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo button{
    background-color: transparent;
    border: 0;
    outline: 0;
    border-radius: 8px;
    display: none;
}

header .logo i{
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

header .logo button:focus{
    border: 2px solid black;
}
header .logo img{
    width: 20%;
}

header nav{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 0 35px;
    color: black;
}
/* header end */



/* banner */
#banner{
    margin-top: 90px;
    background-image: url('https://www.tbsnews.net/sites/default/files/styles/big_2/public/images/2021/06/14/blood_donate.jpg?itok=VZm5p8vE&timestamp=1623642374');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

#banner .blur{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
}
#banner h1{
    color: white;
}
#banner p{
    width: 45%;
    font-size: 20px;
    color: white;
}

#banner a{
    display: inline-block;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    margin: 20px 0;
    border-radius: 20px;
    transition: 0.5s linear;
    font-weight: bold;
}

#banner a:hover{
    background-color: white;
    color: black;
}
/* banner end */


/* about */
#about{
    margin: 30px 0;
}
#about .card-box, #about .description{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 0;
}

#about .card-box .card{
    width: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

#about .card-box .card .card-img img{
    max-width: 100%;
}

#about .card-box .card .card-text{
    padding: 20px;
}

#about .description .left{
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .description .left img{
    width: 50%;
}
/* about end */


/* benefit */
#benefit{
    margin: 30px 0;
    background-color: rgb(0, 102, 255);
    color: white;
}

#benefit .list{
    display: flex;
}

#benefit .left ol li{
    margin: 30px 0;
}

#benefit .right{
    display: flex;
    align-items: center;
    justify-content: center;
}

#benefit .right img{
    width: 70%;
}
/* benefit end */


/* members */
#members{
    margin: 30px 0;
}

#members .members-box{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#members .members-box .profile{
    width: 25%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: 0.5s;
}

#members .members-box .profile .pro-avater{
    height: 240px;
    width: 240px;
    border: 5px solid red;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#members .members-box .profile .pro-avater .blood{
    height: 50px;
    width: 50px;
    background-color: white;
    color: black;
    border: 3px solid red;
    border-radius: 50%;
    font-weight: bolder;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#members .members-box .profile .pro-avater img{
    height: 210px;
    width: 210px;
    border-radius: 50%;
}

#members .members-box .profile .pro-name h4{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bolder;
}

#members .members-box .profile .location-blood-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
#members .members-box .profile .link{
    margin-top: 20px;
}
#members .members-box .profile .link ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#members .members-box .profile .link ul li a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    transition: 0.5s;
}


#members .members-box .profile:hover{
    background-color: rgb(19, 69, 233);
    color: white;
}

#members .members-box .profile:hover .blood{
    color: black;
}

#members .members-box .profile .link ul li a:hover{
    background-color: red;
}
/* members end */



/* footer */
footer{
    background-color: black;
    color: white;
    padding: 20px 0;
}

footer .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .row .box{
    width: 33%;
}

footer .row .box ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    margin: 20px 0;
}


footer .row .box ul li{
    margin-right: 50px;
}

footer .row .box ul li a{
    display: block;
    color: white;
    padding: 5px 8px;
    border-radius: 4px;
    border: 1px solid white;
    transition: 0.5s;
}

footer .row .box ul li a:hover{
    background-color: red;
    border: 1px solid red;
}



footer .row .box .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .row .box .flex .left{
    width: 10%;
}

footer .row .box .flex .right{
    width: 90%;
}


footer .row .box .flex .img{
    width: 40%;
}

footer .row .box .flex .img img{
    width: 72%;
}

footer .row .box .flex .des{
    width: 60%;
}

/* footer end */


/* login , rehgister */
#login{
    width: 350px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}

#register, #profile{
    width: 800px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}
#profile .flex{
    display: flex;
}
#profile .left, #profile .right{
    width: 50%;
}

#profile .left{
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile .left img{
    max-width: 50%;
}

#profile .right label{
    width: 100%;
    display: block;
    margin: 10px 0;
}

#profile .btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile .btn #logout{
    background-color: red;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bolder;
    padding: 10px 20px;
    color: white;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

#profile .btn #edit{
    background-color: yellow;
    margin: 0 20px;
    font-weight: bolder;
    padding: 10px 20px;
    color: black;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

#register .flex{
    display: flex;
}

#register .flex .left{
    width: 33%;
    margin: 0 20px;
}
#register .flex .middle{
    width: 33%;
    margin: 0 20px;
}
#register .flex .right{
    width: 33%;
    margin: 0 20px;
}

#register input,  #login input{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 18px;
    outline: none;
    font-size: 18px;
}

#login input[type="submit"]{
    width: 100%;
    margin: 20px 0;
    font-weight: bold;
    cursor: pointer;
    background-color: blue;
    color: white;
    outline: none;
    border: 0;
    transition: 0.5s;
}

#login input[type="submit"]:hover{
    background-color: rgb(4, 4, 139);
}

#register input[type="submit"]{
    margin: 20px auto;
    margin-bottom: 0px;
    display: block;
    width: 20%;
    font-weight: bold;
    cursor: pointer;
    background-color: blue;
    color: white;
    outline: none;
    border: 0;
    transition: 0.5s;
}

#register input[type="submit"]:hover{
    background-color: rgb(4, 4, 139);
}

#register select{
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin-bottom: 18px;
}


.password{
    position: relative;
}

.password i{
    color: black;
    position: absolute;
    top: 35%;
    right: 20px;
    transform: translateY(-35%);
    cursor: pointer;
}
/* login , register end */





/* responsive */
@media screen and (max-width:500px) {
    .container{
        width: 95%;
    }
    h1{
        font-size: 30px;
        text-align: center;
    }

    header .container{
        display: block;
    }

    header .logo{
        width: 100%;
    }

    header .logo button{
        display: initial;
    }


    header nav{
        width: 100%;
        height: 0px;
        opacity: 0;
        transition: height 0.5s;
    }
    
    header nav.active{
        height: 400px;
        opacity: 1;
    }

    header nav ul{
        display: block;
        text-align: center;
    }

    header nav ul li{
        margin: 30px 0;
    }



    #banner p{
        margin: 0 auto;
        width: 90%;
        text-align: center;
    }

    #banner a{
        display: block;
        margin: 20px auto;
        width: 40%;
        text-align: center;
    }


    #about .card-box{
        display: block;
    }
    #about .card-box .card{
        width: 90%;
        margin: 20px auto;
    }

    #about .description{
        display: block;
    }

    #about .description .left,
    #about .description .right{
        width: 90%;
        margin: 20px auto;
    }

    #about .description .right p{
        text-align: center;
    }


    #benefit .list{
        display: block;
    }

    #benefit .list .left, #benefit .list .right{
        width: 90%;
        margin: 20px auto;
    }


    #members .members-box{
        display: block;
    }

    #members .members-box .profile{
        width: 80%;
        margin: 20px auto;
    }


    footer .row{
        display: block;
    }

    footer .row .box{
        width: 90%;
        margin: 10px auto;
    }

    footer .row .box .link-text{
        text-align: center;
    }

    footer .row .box ul{
        justify-content: center;
    }

    footer .row .box ul li{
        margin: 0 auto;
    }



    #register{
        width: 350px;
        padding: 10px;
    }

    #register .flex{
        display: block;
    }

    #register form .flex .left, 
    #register form .flex .middle, 
    #register form .flex .right{
        width: 100%;
        margin: 20px 0;
    }

    #register input[type="submit"]{
        width: 80%;
    }
}
/* responsive end */